@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme {
  --text-6xl: 4rem;
  --text-6xl--line-height: 4.75rem;

  --text-5xl: 3.3125rem;
  --text-5xl--line-height: 4rem;

  --text-4xl: 2.75rem;
  --text-4xl--line-height: 3.25rem;

  --text-3xl: 2.3125rem;
  --text-3xl--line-height: 2.75rem;

  --text-2xl: 1.9375rem;
  --text-2xl--line-height: 2.375rem;

  --text-xl: 1.625rem;
  --text-xl--line-height: 2rem;

  --text-lg: 1.3125rem;
  --text-lg--line-height: 1.75rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;

  --text-sm: 1rem;
  --text-sm--line-height: 1.25rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.25rem;
  --font-montserrat: var(--font-montserrat);
  --color-darkgray: #111111;
  --color-mainblack: #000000;
  --color-mainwhite: #FFFFFF;
  --color-greenaccent: #22C55E;
  --color-whitegray: #9CA3AF;
}